<html>
  <head>
    <title>About</title>
     <link rel="icon" href="/img/icon.png" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
      <div class="main-content">
    {{>header}}
    <p>This site provides data from mapbox and darksky</p>
    <img class="portrait" src="/img/mm.jpg" />
    </div>
     {{>footer}}
  </body>
</html>
{{!-- <html>
  <head>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <h1>About</h1>
    <img src="/img/mm.jpg" />
    <p>Created by {{name}}</p>
  </body>
</html> --}}